#Ville {
    text-align: center;
    border-radius: 4%;
}

#Secteur {
    text-align: center;
    border-radius: 4%;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin h5 {
  font-size: 120%;
  text-align: ;
}


h1 {
	text-align: center;
	margin-top: 1%;
}

h3 {
	margin-left: 16%;
}

#lastannonces {
    margin-left: 16%;
    margin-right: 13%;
    margin-bottom: 25%;
}

.mb-1 {
    float: left;
    position: relative;
}

.stretched-link {
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    max-width: 85px;
    background-color: #118AC4;
    padding: 4px;
}

.stretched-link:hover {
    background-color: #1179AB;
    color: #fff;
}



