#signinentrepriseform{
    display: none;
}

h1{
	text-align: center;
	margin-top: 1%;
}

label {
	font-size: 120%;
}

form {
	text-align: center;
	margin-top: 1%;
}

input {
	margin-left: 1%;
}

select {
	width: 12.5%;
	height: 12.5%;
	font-size: 110%;
	border-radius: 7px;
	border: 0.5px solid;
	margin-top: 0.7%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="prenom"] {
  margin-bottom: -5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="nom"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}