.form-floating {
	width: 200px;
}


input[name="age"], input[name="adresse"], input[name="telephone"] ,input[name="mail"],input[name="password"],input[name="nom"],input[name="prenom"] {
  width: 160%;
}

.btn-secondary {
	width: 100px;
	margin-left: 0.7%;
}

.btn-outline-secondary {
	width: 100px;
}

.btn-outline-primary {
	font-size: 70%;
	margin-left: 0.5%;
}

.g-3 {
	margin-left: 3%;
}

.mb-1 {
    width: 400px;
    margin-left: 2%;
    display: inline-block;
}

.fw-normal {
	margin-left: 3%;
}

.text-muted {
  margin-left: 0.5%;
}

.etudiant {
	margin-left: -1%;
}