.logo img {
	height: 80px;
	width: 210px;
	margin-left: -17%;
}

.mb-md-0 a {
	width: 157px;
	text-align: center;
	border-radius: 3%;
}

.mb-md-0 a:hover {
  background-color: #118AC4;
  margin-top: -0.3%;
}

body{
	background-color: #F1F1F1;
}
